VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_REOWN_PROJECT_ID=
VITE_1INCH_API_KEY=
VITE_FEE_WALLET=
VITE_PERP_DEX_URL=
VITE_SOCIAL_TWITTER=
VITE_SOCIAL_DISCORD=
VITE_SOCIAL_MEDIUM=
VITE_SOCIAL_TIKTOK=
VITE_SOCIAL_INSTAGRAM=
